$orange: #ffad7f;
$orange-light: #fdc79b;

$orange-lighter: #ffdacc;
$white: #fff;
$black: #050402;

$gradient-1: linear-gradient(135deg, $orange-lighter, $white);
$gradient-2: linear-gradient(95deg, $orange-light, $orange);

$font-primary: 'Open Sans', Helvetica, Arial, sans-serif;
$font-secondary: 'Fractul', Verdana, sans-serif;
